[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = git://github.com/vim-scripts/YankRing.vim.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/shakespeare"]
	path = bundle/shakespeare
	url = https://github.com/pbrisbin/vim-syntax-shakespeare
[submodule "bundle/vim-elixir"]
	path = bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
